@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}



<div class="row">
    <div class="col-md-6">
        <p>Ta strona pozwala na permanetne usunięcie swoich danych oraz konta.</p>
        <p>
            <strong>Usunięcie konta jest nieodwracalne.</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Usuń</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}