@model IEnumerable<BlogApp.Models.ReadPostViewModel>

@{
    ViewData["Title"] = "Strona główna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 <div class="row">
    @foreach (var item in Model)
    {
        <div class="column">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">@Html.DisplayFor(modelItem => item.Author.UserName)</div>
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Content)</p>
                </div>
            </div>
        </div>
    }
</div>